---
http_interactions:
- request:
    method: get
    uri: https://api.gameye.com/fetch/template?gameKey=csgo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer api-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"template":{"2v2wingman":{"templateKey":"2v2wingman","arg":[{"name":"tickRate","type":"number","defaultValue":128,"option":[64,128]},{"name":"steamToken","type":"string","defaultValue":""},{"name":"hostname","type":"string","defaultValue":"gameye.com
        Match Server"},{"name":"mapgroup","type":"string","defaultValue":"mg_active","validatePattern":"^\\w+$","validateIgnoreCase":true},{"name":"map","type":"string","defaultValue":"de_cbble","validatePattern":"^\\w+$","validateIgnoreCase":true},{"name":"gameMode","type":"number","defaultValue":2,"option":[0,1,2]},{"name":"gameType","type":"number","defaultValue":0,"option":[0,1]},{"name":"overtime","type":"number","defaultValue":0,"option":[0,1]},{"name":"maxRounds","type":"number","defaultValue":16,"minimumValue":1,"maximumValue":30},{"name":"maxPlayers","type":"number","defaultValue":4,"minimumValue":2,"maximumValue":24},{"name":"warmupTime","type":"number","defaultValue":300,"minimumValue":1,"maximumValue":600},{"name":"warmupTimeConnected","type":"number","defaultValue":60,"minimumValue":1,"maximumValue":600},{"name":"gotvDelay","type":"number","defaultValue":0,"minimumValue":0,"maximum":300},{"name":"gotvMaxClients","type":"number","defaultValue":10,"minimumValue":1,"maximum":128},{"name":"coachingMode","type":"number","defaultValue":0,"option":[0,1]},{"name":"teamNameOne","type":"string","defaultValue":"Counter
        Terrorists"},{"name":"teamNameTwo","type":"string","defaultValue":"Terrorists"},{"name":"workshopMap","type":"string","defaultValue":""},{"name":"authkey","type":"string","defaultValue":""},{"name":"rconPassword","type":"string","defaultValue":""}]},"bots":{"templateKey":"bots","arg":[{"name":"tickRate","type":"number","defaultValue":128,"option":[64,128]},{"name":"steamToken","type":"string","defaultValue":""},{"name":"hostname","type":"string","defaultValue":"gameye.com
        Match Server"},{"name":"mapgroup","type":"string","defaultValue":"mg_active","validatePattern":"^\\w+$","validateIgnoreCase":true},{"name":"map","type":"string","defaultValue":"de_dust2","validatePattern":"^\\w+$","validateIgnoreCase":true},{"name":"gameMode","type":"number","defaultValue":1,"option":[0,1,2]},{"name":"gameType","type":"number","defaultValue":0,"option":[0,1]},{"name":"maxRounds","type":"number","defaultValue":30,"minimumValue":1,"maximumValue":30},{"name":"maxPlayers","type":"number","defaultValue":12,"minimumValue":2,"maximumValue":24},{"name":"gotvDelay","type":"number","defaultValue":0,"minimumValue":0,"maximum":300},{"name":"gotvMaxClients","type":"number","defaultValue":10,"minimumValue":1,"maximum":128},{"name":"coachingMode","type":"number","defaultValue":0,"option":[0,1]},{"name":"teamNameOne","type":"string","defaultValue":"Counter
        Terrorists"},{"name":"teamNameTwo","type":"string","defaultValue":"Terrorists"},{"name":"workshopMap","type":"string","defaultValue":""},{"name":"authkey","type":"string","defaultValue":""},{"name":"rconPassword","type":"string","defaultValue":""}]},"esl1on1":{"templateKey":"esl1on1","arg":[{"name":"tickRate","type":"number","defaultValue":128,"option":[64,128]},{"name":"steamToken","type":"string","defaultValue":""},{"name":"hostname","type":"string","defaultValue":"gameye.com
        Match Server"},{"name":"mapgroup","type":"string","defaultValue":"mg_active","validatePattern":"^\\w+$","validateIgnoreCase":true},{"name":"map","type":"string","defaultValue":"de_dust2","validatePattern":"^\\w+$","validateIgnoreCase":true},{"name":"gameMode","type":"n[...]
