---
http_interactions:
- request:
    method: get
    uri: https://api.gameye.com/query/match
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer api-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"match":{"duplicate":{"matchKey":"duplicate","gameKey":"tf2","locationKey":"rotterdam","host":"213.163.71.11","created":1540925319300,"port":{"game":56494,"hltv":61828}}}}'
  recorded_at: Tue, 30 Oct 2018 18:51:12 GMT
recorded_with: VCR 4.0.0
