---
http_interactions:
- request:
    method: post
    uri: https://api.gameye.com/action/start-match
    body:
      encoding: UTF-8
      string: '{"gameKey":"tf2","locationKeys":["rotterdam"],"templateKey":"bots","matchKey":"duplicate","config":{"hostname":"Foobarwidget"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api-token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: Internal Server Error
  recorded_at: Tue, 30 Oct 2018 18:49:04 GMT
recorded_with: VCR 4.0.0
