---
http_interactions:
- request:
    method: post
    uri: https://api.gameye.com/action/start-match
    body:
      encoding: UTF-8
      string: '{"gameKey":"tf2","locationKeys":["rotterdam"],"templateKey":"bots","matchKey":"serveme-test-123","config":{"hostname":"Foobarwidget"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api-token
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 30 Oct 2018 18:47:33 GMT
recorded_with: VCR 4.0.0
