---
http_interactions:
- request:
    method: post
    uri: https://api.gameye.com/action/start-match
    body:
      encoding: UTF-8
      string: '{"gameKey":"tf2","locationKeys":["frankfurt"],"templateKey":"bots","matchKey":"serveme-test-123","config":{"hostname":"Foobarwidget"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"serveme-test-123","image":"tf2","location":"frankfurt","host":"178.162.194.76","created":1578337196780,"port":{"game":62382,"hltv":58616}}'
  recorded_at: Mon, 06 Jan 2020 18:59:58 GMT
recorded_with: VCR 4.0.0
