---
http_interactions:
- request:
    method: get
    uri: https://api.gameye.com/fetch/game
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer api-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"game":{"csgo":{"gameKey":"csgo","location":{"rotterdam":true,"los_angeles":true,"washington_dc":true,"frankfurt":true}},"tf2":{"gameKey":"tf2","location":{"rotterdam":true,"los_angeles":true,"washington_dc":true,"frankfurt":true}},"css":{"gameKey":"css","location":{}},"l4d2":{"gameKey":"l4d2","location":{}},"kf2":{"gameKey":"kf2","location":{}}},"location":{"rotterdam":{"locationKey":"rotterdam"},"ireland":{"locationKey":"ireland"},"dubai":{"locationKey":"dubai"},"tokyo":{"locationKey":"tokyo"},"los_angeles":{"locationKey":"los_angeles"},"washington_dc":{"locationKey":"washington_dc"},"brazilsouth":{"locationKey":"brazilsouth"},"frankfurt":{"locationKey":"frankfurt"}}}'
  recorded_at: Tue, 30 Oct 2018 19:02:12 GMT
recorded_with: VCR 4.0.0
